[submodule "third_party/asyncplusplus"]
	path = third_party/asyncplusplus
	url = git@github.com:Amanieu/asyncplusplus.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = git@github.com:gabime/spdlog.git
